<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 用户管理 -->
    <bean id="userService" class="com.property.sys.serviceimpl.UserServiceImpl" parent="baseService">
    </bean>
    <bean id="userAction" class="com.property.sys.action.UserAction" parent="baseAction">
    	<property name="userService">
        	<ref bean="userService"/>
        </property>
    </bean>
    <!-- 文章管理 -->
    <bean id="articleService" class="com.property.sys.serviceimpl.ArticleServiceImpl" parent="baseService">
    </bean>
    <bean id="articleAction" class="com.property.sys.action.ArticleAction" parent="baseAction">
    	<property name="articleService">
        	<ref bean="articleService"/>
        </property>
        <property name="commentService">
        	<ref bean="commentService"/>
        </property>
        <property name="optionService">
        	<ref bean="optionService"/>
        </property>
    </bean>
    <!-- 申请管理 -->
    <bean id="applicationService" class="com.property.sys.serviceimpl.ApplicationServiceImpl" parent="baseService">
    </bean>
    <bean id="applyAction" class="com.property.sys.action.ApplicationAction" parent="baseAction">
    	<property name="applicationService">
        	<ref bean="applicationService"/>
        </property>
    </bean>
    <!-- 评论管理 -->
    <bean id="commentService" class="com.property.sys.serviceimpl.CommentServiceImpl" parent="baseService">
    </bean>
    <bean id="commentAction" class="com.property.sys.action.CommentAction" parent="baseAction">
    	<property name="commentService">
        	<ref bean="commentService"/>
        </property>
    </bean>
     <!-- 选项管理 -->
    <bean id="optionService" class="com.property.sys.serviceimpl.OptionServiceImpl" parent="baseService">
    </bean>
    <bean id="optionAction" class="com.property.sys.action.OptionAction" parent="baseAction">
    	<property name="optionService">
        	<ref bean="optionService"/>
        </property>
    </bean>
     <!-- 账户管理 -->
    <bean id="accountService" class="com.property.sys.serviceimpl.AccountServiceImpl" parent="baseService">
    </bean>
    <bean id="accountAction" class="com.property.sys.action.AccountAction" parent="baseAction">
    	<property name="accountService">
        	<ref bean="accountService"/>
        </property>
    </bean>
</beans>